{% extends 'base.html' %}

{% block title %}Photographies{% endblock %}

{% block content %}
<h2 class="text-center">Galerie de Photographies</h2>
<div class="row">
    {% for photo in photos %}
    <div class="col-md-4">
        <div class="card mb-3">
            <img src="{{ url_for('static', filename=photo.url) }}" class="card-img-top" alt="{{ photo.titre }}">
            <div class="card-body">
                <h5 class="card-title">{{ photo.titre }}</h5>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
