<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Télescopes</title>
</head>
<body>

    <h1>Liste des Télescopes</h1>
    
    <div>
        {% for telescope in teles %}
            <div style="margin-bottom: 20px; border: 1px solid #ddd; padding: 10px;">
                <h2>{{ telescope.marque }} - {{ telescope.modele }}</h2>
                <p>Date : {{ telescope.date }}</p>
                <p>Score : {{ telescope.score }}/5</p>
                
                <!-- Affichage de l'image du télescope -->
                <img src="{{ url_for('static', filename='images/' + telescope.image) }}" alt="{{ telescope.modele }}" width="500" class="{{ telescope.classe }}">

            </div>
        {% endfor %}
    </div>

</body>
</html>
